@charset "UTF-8";

:root {
    --cor-1: #885BFA;
    --cor-2: #68A2FC;
    --font-padrão: Arial, Verdana, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--font-padrão);
}


body {
    background-color: var(--cor-1);
}

main {
    background-color: white;
    height: 500px;
    width: 280px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    margin: auto;
    border-radius: 30px;
}

section#login h1 {
    font-size: 2em;
    text-align: center;
    margin-top: 2px;
}

section#login p {
    margin: 7px;
}

/* formulario */
section#login form {
    width: 100%;
    margin: auto;
    text-align: center;
}

section#login div {
    position: relative;
    margin: 7px;
    border: 3px solid var(--cor-1);
    border-radius: 6px;
    background-color: var(--cor-1);
}

section#login span {
    transform: scale(1.35);
    position: absolute;
    left: 4px;
}

section#login input {
    width: 220px;
    height: 25px;
    transform: translate(20px);
    border-radius: 6px;
}

section#login input::placeholder {
    padding: 6px;
}
/* fim-formulario */    

aside#background {
    height: 50%;
    background-image: url(../imagens/building.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px 30px 0px 0px;
}
