@charset "UTF-8";

:root {
    --cor-1: #885BFA;
    --cor-2: #46c2fc;
    --cor-3: #21c5c5;
    --cor-4: #5A93FA;
    --font-padrão: Arial, Verdana, sans-serif;
}

body {
    background-image: linear-gradient(to bottom, var(--cor-1), var(--cor-2));
    overflow: hidden;
}

main {
    width: 700px;
    height: 550px;
}

aside#background {
    float: left;
    height: 100%;
    width: 320px;
    border-radius: 30px 0px 0px 30px;
}

section#login {
    width: 360px;
    float: right;
    margin-right: 10px;
    margin-top: 30px;
}

section#login h1 {
    margin: 30px 0px 30px 0px;
}

section#login div.inf input {
    width: 300px;
}

section#login div#enviar input {
    width: 345px;
}
